@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; /* Ensure full viewport height */
  margin: 0; /* Remove default margins */
}

.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  text-align: center;
  font-weight: 400;
  font-size: 4rem;
  margin: 0;
}

.desc {
  font-size: 1.2rem;
  margin-bottom: 20px
}

.home-spn {
  color: #F26764
}

.btn {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 25px;
  background-color: #fff;
  color: #000;
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}


.grid-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.split-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.split-main-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;

}

.split-div {
  width: 300px;
  height: 200px;
  background-color: #FDFFD2;
  color: #000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: background-color 0.3s ease-in-out;
}

.split-title {
  text-align: center;
  font-weight: 400;
  font-size: 2.5rem;
  margin: 0;
}

.split-div:hover {
  background-color: #667BC6; 
}

.split-user {
  font-size: 20px;
  font-weight: 500;
}

.split-dtl {
  font-size: 12px;
}

.split-cnt {
  font-weight: 600;
  font-size: 3em;
}

.split-detail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}


.split-details-left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px
}

.split-detail-left-user {
  font-size: 2.2rem;
  font-weight: 400;
  color: #CFB08D;
  margin: 0;
}

.split-detail-egg-cnt-spn {
  font-size: 4.5rem;
  font-weight: 600;
  color: #76C065;
}

.split-details-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px
}

.split-details-right-user {
  font-size: 2.2rem;
  font-weight: 400;
  color: #CFB08D;
}

.counter-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 1rem;
}

.counter-btn {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-radius: 25px;
  background-color: #fff;
  color: #000;
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}